
div(class="container")
    div(class="page-content")
        div(class="row row-centered")
            div(class="col-md-6 col-centered" style="left:25px;")
                div(id="clock")


        div(class="row row-centered" )
            div(class="col-md-6 col-centered", style="left:40px;")
                div(style="width:130px;display: inline-block;margin-right:30px")
                    input(id="demo3" type="text" value="0" name="hours" class="input-sm" )
                div(style="width:130px;display: inline-block;")
                    input(id="demo3" type="text" value="0" name="min" class="input-sm")

                div(style="width:130px;display: inline-block;margin-left:30px;")
                    input(id="demo3" type="text" value="0" name="sec" class="input-sm")

        dev(class="row row-centered" )
            center(style="margin-top:20px;")
                div(class="col-sm-2 col-centered")

                div(class="col-sm-2 col-centered" ,style="text-align: center;")
                    button(class="btn btn-lg btn-primary",id="start-button" ) Start
                    button(class="btn btn-lg btn-danger" ,id="stop-button" ) Stop
                div(class="col-sm-2 col-centered" style="vertical-align: middle;")
                    button(class="btn btn-sm btn-success",id="reset-button" style="float:right;margin-right:53px;") Set


        div(class="row row-centered")
            div(class="col-md-6 col-centered", style="left:40px;")
                div(class="" style="vertical-align:top; display: inline-block;")
                    div(style="width:130px;display: inline-block;margin-left:0px")
                        span(style="font-size:8pt;display:block;margin-top:12px;margin-bottom:11px;") Font Size
                        input(id="demo3" type="text" value="0" name="font-size" class="input-sm" ,style="" )

                div(class="" ,style="display: inline-block; margin-left:90px")
                    table(id="color-table",class="table")
                        thead
                            tr
                                td(style="font-size:8pt;margin:0px;")
                                    span(style="margin-right:5px") Text

                                    span(style="float:right;") Background


                            tr
                                td(style="display:inline-block;")
                                    span(style="")
                                        input(id="textColor",class="")
                                    span(style="float:right;")
                                        input(id="backgroundColor" ,class="")


                                td()
                                    button(class="btn btn-sm btn-success",id="set-colors-button" style="float:right;") Set Color

                        tbody(id="tbody")


        div(class="row row-centered")
            div(class="col-sm-4 col-centered")
                center(class="btn-group")




            div(class="col-sm-2 col-centered")
                center(class="")



        div(class="row row-centered")
            div(class="col-sm-4 col-centered")

        div(class="row row-centered")
            div(class="col-sm-4 col-centered")




script(src="/socket.io/socket.io.js")
script.
    var colorlist=[];
    var options={
        preferredFormat:"hex",
        color: "#f00",
        showInput: true,
        allowEmpty:true
    };
    $("#backgroundColor").spectrum(options);
    options.color="#000";
    $("#textColor").spectrum(options);
    var socket_id = "";
    var socket = io("https://blooming-dawn-9557.herokuapp.com/");
    //var socket = io("http://192.168.1.6:5000");
    socket.on('news', function (data) {
        console.log(data);
    });
    //socket.emit("on_client_connect",{socket_id:"sadasdas"});

    socket.on("new_device_connection", function (data) {
        socket_id = data.socket;
        console.log(data);
    });

    $(document).ready(function () {
        var clock = $('#clock').FlipClock({
            autostart: false,
            countdown: true
        });

        socket.on("update", function (data) {
            if (data.seconds != undefined) {
                clock.setTime(data.seconds);
            }
            $("#start-button").hide();
            $("#stop-button").show();

            if(data.seconds==0)
            {
                $("#start-button").show();
                $("#stop-button").hide();
            }
        });

        $("input[name='hours']").TouchSpin();

        $("input[name='hours']").on("touchspin.on.stopspin",
                function () {
                    //setTime(clock)
                    $(this).val(n($(this).val()));

                });
        $("input[name='min']").TouchSpin();

        $("input[name='min']").on("touchspin.on.stopspin",
                function () {
                    //setTime(clock)
                    $(this).val(n($(this).val()));

                });
        $("input[name='sec']").TouchSpin();

        $("input[name='sec']").on("touchspin.on.stopspin",
                function () {
                    //setTime(clock)
                    $(this).val(n($(this).val()));
                });

        $("input[name='font-size']").TouchSpin({min:430,max:1000});

        $("input[name='font-size']").on("touchspin.on.stopspin",
                function () {
                    //setTime(clock)
                    $(this).val(n($(this).val()));
                    socket.emit("font-size-change", {
                        "socket": socket_id,
                        "fontSize": ($(this).val())
                    });

                });

        $("#stop-button").hide();

        $("#start-button").click(function () {
            socket.emit("start", {"socket": socket_id, "seconds": clock.getTime().time,"colorData":colorlist});
            //clock.start();
            $("#start-button").hide();
            $("#stop-button").show();

        });

        $("#stop-button").click(function () {
            socket.emit("stop", {"socket": socket_id, "seconds": clock.getTime().time});
            $("#start-button").show();
            $("#stop-button").hide();
            clock.stop();
        });
        $("#reset-button").click(function () {
            setTime(clock);
            socket.emit("reset", {"socket": socket_id, "seconds": clock.getTime().time,"colorData":colorlist});
        });
        $("#set-colors-button").click(function(){
            var background = $("#backgroundColor").spectrum("get");
            var fontColor = $("#textColor").spectrum("get");
            var hours = $("input[name='hours']").val(),
                    min = $("input[name='min']").val()
            seco = $("input[name='sec']").val()
            set_background(background,fontColor,hours,min,seco);
        });

        set_background("#FF0000","#000000",0,0,1);
        set_background("#FFFF66","#000000",0,5,0);

    });

    function set_background(background,fontColor,hours,min,seco){




        var data={"background":(""+background),"fontcolor":(""+fontColor),"seconds":calculateSeconds(hours,min,seco)};
        colorlist.unshift(data);

        var tr=document.createElement("tr");
        //        var td=document.createElement("td");
        //        $(td).attr("style","background:"+fontColor);
        //        $(tr).append(td);
        td=document.createElement("td");
        $(td).attr("style", "text-align: center;font-size:18pt;background:" + background);
        $(tr).append(td);
        var label=document.createElement("label");
        $(label).attr("style","color:"+fontColor);
        $(label).text(n(hours)+" : "+n(min)+" : "+n(seco));
        $(td).append(label);

        td=document.createElement("td");
        console.log(colorlist);
        $(td).attr("style", "text-align: right;");
        var a=document.createElement("a");
        $(a).attr("style","cursor:crosshair;").text("X").click(function () {

            $(tr).remove();
            colorlist.splice(parseInt($(tr).attr("indx")),1);
            console.log(colorlist);
            updateIndex();
            return false;
        });

        $(td).append(a);
        $(tr).append(td);
        $("tbody").prepend(tr);

        updateIndex();
    }

    function setTime(clock) {
        seconds = parseInt($("input[name='hours']").val()) * 3600;
        seconds += parseInt($("input[name='min']").val()) * 60;
        seconds += parseInt($("input[name='sec']").val());
        clock.setTime(seconds);
    }

    function getSeconds() {
        seconds = parseInt($("input[name='hours']").val()) * 3600;
        seconds += parseInt($("input[name='min']").val()) * 60;
        seconds += parseInt($("input[name='sec']").val());
        return seconds;
    }

    function calculateSeconds(hours,min,sec)
    {
        seconds=parseInt(hours)*3600;
        seconds+=parseInt(min)*60;
        seconds+=parseInt(sec);
        return seconds;
    }

    function updateIndex()
    {
        $.each($("tbody tr"),function(i,e){
            $(e).attr("indx",""+i);
        });
    }
    function n(n) {
        return parseInt(n) > 9 ? "" + parseInt(n) : "0" + parseInt(n);
    }
