html
  head
    title= title
    link(rel='stylesheet',href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet',href='/stylesheets/bootstrap-theme.min.css')
    link(rel='stylesheet',href='/stylesheets/jquery.bootstrap-touchspin.css')
    link(rel='stylesheet', href='/stylesheets/flipclock.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/spectrum.css')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    script(src="/javascripts/jquery-1.11.3.min.js")
    script(src="/javascripts/jquery.bootstrap-touchspin.js")
    script(src="/javascripts/flipclock.min.js")
    script(src="/javascripts/spectrum.js")

  body
    header(class="page-header")


    !=body
